<a class="gallery__item" href="{{largeImageURL}}">
  <img class="gallery__image" src="{{webformatURL}}" alt="{{tags}}" title="{{tags}}" loading="lazy"/>
  <div class="gallery__info">
  <p class="info__item">
    <b>Likes </b><br>{{likes}}
  </p>
  <p class="info__item">
    <b>Views </b><br>{{views}}
  </p>
  <p class="info__item">
    <b>Comments </b><br>{{comments}}
  </p>
  <p class="info__item">
    <b>Downloads </b><br>{{downloads}}
  </p>
  </div>
</a>
